<!DOCTYPE html>
<head>
    <title>
        Todo Mongo Example
    </title>
    <link rel="stylesheet" href="/static/stylesheets/styles.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- <link href="https://use.fontawesome.com/release/v5.8.2/css/all.css" rel="stylesheet"/>-->
</head>
<body>
    <div class="todo-container">
        <h2>
            To-Do Items
        </h2>
        <div class=""todo">
            <form action="/" method="POST" class="todo-header">
                <input type="text" name="content" />
                <button type="submit">
                    <i class="fa fa-plus"></i>
                </button>
            </form>
            <ul class="todo-list" >
                <li class="todo-list-item">
                    <div class="todo-list-item-name">
                        First task
                    </div>
                    <a href="" class="edit" >
                        <i class="fa fa-pencil"></i>
                    </a>
                    <a href="" class="remove">
                        <i class="fa fa-times"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</body>